<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Test Application Tchat :</h5>
                <p>Tchat en temps réel avec Node.js</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">#Suivez-moi</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linkedin.com/in/axel-dethoor-8b6019199/"> <img src="./assets/footer/logo-linkedin.svg" alt="" srcset=""> </a>
                    </li>
                    <li>
                        <a href="https://github.com/YorKeN-git"> <img src="./assets/footer/logo-github.svg" alt="" srcset=""></a>
                    </li>
                    <li>
                        <a href="mailto:dethoor.axel@gmail.com"> <img src="./assets/footer/mail-outline.svg" alt="" srcset=""> </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" id="border">© 2020 Copyright: YorKeN
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->