<div class="container">
    <div class="card bg-dark text-white">
        <div class="card-header">Tchat - App </div>
        <div class="card-body" *ngIf="!isValider">
            <h5 class="card-title text-center">Bienvenue dans mon Tchat ! </h5>
            <label for="userName" class="col-2">Pseudo :</label>
            <input type="text" class="col-8" id="pseudo" placeholder="Pseudo">
            <button type="button" class="btn btn-outline-light btn-sm" (click)="validerPseudo()">Valider mon Pseudo</button>
        </div>
        <!-- <hr id="hrWhite"> -->
        <div class="card-body" *ngIf="isPseudoOK">
            <h5 class="card-title text-center">Discussion : </h5>
            <div class="scroll" id="scroll">
                <div *ngFor="let message of messages">
                    <small>({{message.heure}}) </small><strong>{{message.pseudo}} :</strong> {{message.body}}
                </div>
            </div>
            <input id="zoneSaisie" class="col-11" type="text" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
            <button button type="button" class="btn btn-outline-light btn-sm" (click)="sendMessage()">Envoyer</button>
        </div>
    </div>
    <div class="card-footer text-muted">
        Connecté en tant que : {{pseudo}}
    </div>
</div>
<br><br>
<app-footer></app-footer>